input.text {
    background: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    font-size: 12px;
    padding: 5px;
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: large;
 }