.parent2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .parent2 button {
    background-color: #484ae0;
    color: white;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 50px;
    width: 50px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .parent2 button:active {
    background-color: #20516b;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }
  
  .parent2 button:not(:first-child) {
    margin-top: 10px;
  }

  .agregar-boton {
    border-radius: 70%;
  }