ul {
  font-size: 1.5rem;
}

li,
p {
  line-height: 1;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: rgb(73, 205, 97); 
  color: rgb(255, 255, 255); 
}

.button1:hover {
  background-color: #227c25;
  color: white;
}

.button2 {
  background-color: #f44336;
  color: white;
}

.button2:hover {
  background-color: rgb(207, 57, 57); 
  color: white;
}

.button3 {
  background-color: #00d9ff;
  color: white;
}

.button3:hover {
  background-color: rgb(57, 172, 207); 
  color: white;
}

td, th {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.TodoItem {
  background-color: #ffea00;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}

.TodoItem-p {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.TodoItem-p--complete {
  text-decoration: line-through;
}